/* 全局样式配置 */
@charset "utf-8";

/* 白色主题 */
:root {
    /* 基础白色 -> rgb(255,255,255) */
    --whiteColor: 255, 255, 255;
    /* 基础黑色 -> rgb(0,0,0) */
    --blackColor: 0, 0, 0;
    /* 基础灰色 rgb(128, 128, 128)*/
    --greyColor: 128, 128, 128;
    /* 主题色 -> rgb(255,255,255) */
    --themeColor: 255, 255, 255;
    /* 常规色 -> rgb(0, 200, 140) */
    --normalColor: 0, 200, 140;
    /* 图标/提醒色 -> rgb(255, 77, 77) */
    --iconColor: 255, 77, 77;
    /* 标签/提醒色 -> rgb(255, 153, 0) */
    --labelColor: 255, 153, 0;

    /* T1-文本色 -> rgb(116, 130, 159) */
    --textColor_1: 116, 130, 159;
    /* T2-文本色 -> rgb(22, 22, 22) */
    --textColor_2: 22, 22, 22;
    /* T3-文本色 -> rgb(0, 0, 0) */
    --textColor_3: 0, 0, 0;

    /* 文本激活颜色 -> rgb(255,255,255) */
    --textActiveColor: 255, 255, 255;

    /* 左侧菜单栏背景色 rgb(241, 241, 241) */
    --menuBackground: 241, 241, 241;
    /* 右侧内容区背景色 rgb(249, 249, 249) */
    --mainBackground: 249, 249, 249;
    /* 列表鼠标划入背景色 rgb(222, 222, 222) */
    --menuHoverBackground: 222, 222, 222;
    /* 滚动条背景色透明度 */
    --scrollbarAlpha: 0.26;
}

/* 黑色主题 */
html[theme-mode='dark'] {
    /* 主题色 -> rgb(0,0,0) */
    --themeColor: 0, 0, 0;

    /* T1-文本色 -> rgb(116, 130, 159) */
    --textColor_1: 116, 130, 159;
    /* T2-文本色 -> rgb(185, 198, 224) */
    --textColor_2: 185, 198, 224;
    /* T3-文本色 -> rgb(255, 255, 255) */
    --textColor_3: 255, 255, 255;

    /* 文本激活颜色 -> rgb(255,255,255) */
    --textActiveColor: 255, 255, 255;

    /* 左侧菜单栏背景色 rgb(23, 23, 23) */
    --menuBackground: 23, 23, 23;
    /* 右侧内容区背景色 rgb(30, 30, 30) */
    --mainBackground: 30, 30, 30;
    /* 列表鼠标划入背景色 rgb(44, 44, 44) */
    --menuHoverBackground: 44, 44, 44;
    /* 滚动条背景色透明度 */
    --scrollbarAlpha: 0.46;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: color, background 0.5s ease;
}

/* 字体图标 */
@font-face {
    font-family: 'iconfont';
    src: url('./font/iconfont.woff2') format('woff2');
}

/* 默认字体图标样式 */
.iconfont {
    font-family: 'iconfont' !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
